<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="containe">
      <i class="fa-solid fa-users icon"></i>
        <h2 class="header">COLLABORATE</h2>
      <h5 class="paragraph">A project management tool for developers</h5>
      <a class="btn" href="/login">Login</a>
      <a class="btn" href="/signup">Sign up</a>
    </div>
  </body>
</html>
