<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="containe">
    <form action="/login" method="post">
      <i class="fa-solid fa-users icon"></i><h3 style="text-align: center;">Login</h3>
      Name
      <input class="form-control" type="text" name="username" placeholder="Username"/>
      Password
      <input class="form-control my-2" type="password" name="password" placeholder="password"/>
      <div class="text-center">
        <button class="btn" type="submit">Login</button>
        <a class="text-decoration-none" href="/signup">
          You don't have accound!
        </a>
      </div>
    </div>
    </form>
  </body>
</html>
