<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <form action="/signup" class="w-25" method="post">
      <div class="containe">
      <i class="fa-solid fa-users icon"></i>
      <h2 style="text-align: center;">Sign up</h2>
      Name
      <input class="form-control my-1" type="text" required min="4" name="username" placeholder="Username"/>
      Email
      <input type="email" class="form-control my-1" required min="4" name="email" placeholder="Email"/>
      Password
      <input class="form-control my-1" type="password" required min="4" name="password" placeholder="password"/>
      Password confimation
      <input class="form-control my-1" type="password" required min="4" name="password" placeholder="Retype password"/>
      <div class="text-center">
        <button class="btn" type="submit">sign up</button>
        <a href="/login"class="text-decoration-none" >Already you have account?</a>
      </div>
    </div>
    </form>
  </body>
</html>
